.work_section {
  height: 100vh;
  padding: 0px 60px;
}

.heading {
  padding: 90px 0px 50px;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: var(--cinder);
}

@media only screen and (max-width: 1024px) {
  .work_section {
    height: 50vh;
  }
}

@media only screen and (max-width: 968px) {
  .work_section {
    height: auto;
  }

  .heading {
    padding: 50px 0px 40px;
  }

  .container {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .work_section {
    padding: 0px 30px;
  }

  .heading {
    padding: 30px 0px;
  }
}
