.container  {
    
    transform: translate(-10%, -50%);
    min-width: 200px;
    height:150px;
    margin-top: 200px;
    background: #91a8d8;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .content {
    position: absolute;
    color: black;
    font-family: 'Merriweather' , serif;
    display: flex;
  }
  
  h1 {
    font-weight: 900;
    text-align: center;
  }
  
  h3 {
    font-weight: 300;
  }
  
  .flap {
    width: 100%;
    height: 100%;
  }
  
  .flap::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background-position: 100px;
    background-repeat: no-repeat;
    transition: 2.8s;
  }
  
  .flap::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    opacity: 0.35;
    right: 0;
    background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") #b1c0e1;
    background-position: -200px;
    background-repeat: no-repeat;
    transition: 2.8s;
  }  
  .container:hover .flap::after {
    transform: translatex(300px);
  }
  
  .container:hover .flap::before{
    transform: translatex(-300px);
  }