.skills {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  /* background-color: var(--light-2); */
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: var(--cinder);
}

h1 {
  text-align: center;
}

.skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.skills_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.skill {
  flex: 0 0 calc(16.66% - 20px);
  padding: 10px 15px;
  margin-bottom: 25px;
  margin-right: 25px;
  border-radius: 5px;
  font-weight: 600;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #4353cc 43.89%, #3f7cd7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 30px;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  
}

.skill:hover {
  border:'1px solid #7090cb';
}

.skills_cards {
  margin-bottom: 24px;
}

@media only screen and (max-width: 968px) {
  /* .skills {
    padding: 0px 100px;
  } */
}

@media only screen and (max-width: 425px) {
  .skill {
    margin-bottom: 15px;
    margin-right: 15px;
  }
}


/* CSS */
 .button-36 {
  background-color: aliceblue;

}

.button-36:hover {
  background-color: #3f7cd7;
  transition-duration: .1s;
}

/*Tooltip style */

.tooltip {
  --r: 30px; /* control the radius */
  --h: 50px; /* control the height of the tail */
  --p: 30%;  /* control the position of the tail */

  padding: var(--r);
  border-bottom: var(--h) solid #0000;
  --m:
    /* adjust the angles of the 1st conic-gradient to control the shape */
    conic-gradient(from 30deg at var(--p) 100%,#0000,#000 1deg 30deg,#0000 31deg)
     0 100%/100% calc(100% - var(--r)) no-repeat,
    conic-gradient(at calc(var(--r)/2) calc(var(--r)/2),#000 270deg,#0000 0)
     0 0/calc(100% - var(--r)/2) calc(100% - var(--r)/2) padding-box,
    radial-gradient(50% 50%,#000 98%,#0000) 
     0 0/var(--r) var(--r) space padding-box;
  -webkit-mask: var(--m);
          mask: var(--m);
  
    
  margin: 50px auto;
  max-width: 350px;
  font-size: 20px;
  background: linear-gradient(135deg,#4364be,#1384C5) border-box;
  color: #fff;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}
