.container {
  flex: 0.5 1;
  height: auto;
}

.timeline_icon {
  background: var(--cinder-light);
  color: var(--light-2);
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 3rem;
  font-size: 1.2rem;
  border-radius: 50%;
}

.timeline {
  padding-left: 1.20rem;
  text-align: start;
}

.timeline_item {
  
  padding: 1.9rem;
  padding-bottom: 4rem;
  padding-top: 0;
  color: var(--cinder);
  /* border-left: 2px solid gainsboro; */
}

.timeline_item:first-child {
  padding-top: 3rem;
}

.timeline_item:not(:last-child) {
  border-left: 2px solid var(--light-4);
}

.timeline_title {
  font-size: 1.2rem;
  margin-top: -0.5rem;
  position: relative;
}

.timeline_title::after {
  content: "";
  position: absolute;
  left: -2.5rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #7090cb;
}
