.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  justify-items: left;
  /* background-color: var(--light-2); */
}

h1 {
  text-align: center;
}

.skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.skills_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.skill {

  padding: 10px 15px;
  margin-bottom: 25px;
  margin-right: 25px;
  border-radius: 5px;
  font-weight: 600;
  background-color: 'red';
  color: '#7090cb';
}

.interest {
  padding: 10px 15px;
  margin-bottom: 25px;
  margin-right: 25px;
  border-radius: 50px;
  font-weight: 600;
  background-color: 'red';
  color: '#7090cb';
}

.skill:hover {
  opacity: 0.7;
  border:'1px solid #7090cb';
}

.skills_cards {
  margin-bottom: 24px;
}

@media only screen and (max-width: 968px) {
  /* .skills {
    padding: 0px 100px;
  } */
}

@media only screen and (max-width: 425px) {
  .skill {
    margin-bottom: 15px;
    margin-right: 15px;
  }
}
