.home_section {
  padding: 0px 60px;
  height: 100vh;
  max-height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
}

.home_left {
  flex: 0.4 1;
  margin: auto;
}

.home_img {
  position: relative;
  width: 100%;
  max-width: 341px;
  height: 398px;
}

.home_img .cover {
  background: transparent;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  max-width: 341px;
  height: 398px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.home_img:hover {
  cursor: pointer;
}

.home_img .cover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  /* background: var(--purple); */
  background-color: var(--light-4) !important;
  right: 0;
  z-index: -1;
  transform: rotate(350deg);
  animation: enter-hero-cover 0.8s cubic-bezier(0.42, 0, 0.12, 1.28);
  transition: all 0.2s;
}

.home_img img {
  position: relative;
  height: 320px;
  top: 78px;
  left: 50px;
  border-bottom-right-radius: 16px;
}

.home_img:hover .cover::after {
  transform: rotate(353deg);
}

.home_right {
  flex: 0.5 1;
}

.justifyContent {
  text-align: justify;
}

.greet {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 7.5px;
  text-transform: uppercase;
  padding-left: 32px;
  position: relative;
  color: var(--cinder-light);
  display: inline-block;
}

.greet::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 16px;
  height: 2px;
  background: var(--light-4);
}

.heading_1 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 55px;
  margin: 20px 0 32px;
  color: var(--cinder);
  text-align: justify;
}

.heading_1 span {
  color: var(--purple);
}

.social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  margin-top: -102px;
}

.social_icons svg {
  cursor: pointer;
  margin-right: 25px;
  color: var(--cinder);
}

.social_icons svg:hover {
  opacity: 0.7;
  color:  #7090cb;
}

.desc {
  max-width: 538px;
  line-height: 32px;
  margin: 0 0 40px;
  color: var(--cinder);
}

@media only screen and (max-width: 1024px) {
  .home_section {
    height: 50vh;
  }
}

@media only screen and (max-width: 968px) {
  .home_section {
    /* flex-wrap: wrap; */
    flex-direction: column;
    height: auto;
    max-height: fit-content;
    justify-content: center;
  }

  .home_img {
     display: none;
  }

  .home_left {
    flex: 0.5 1;
    padding-top: 110px;
  }

  .home_right {
    flex: auto;
    padding: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .home_section {
    padding: 0px 30px;
  }

  .home_img {
    height: 400px;
    width: 300px;
  }

  .home_img img {
    left: 31px;
  }

  .home_right {
    padding: 50px 0px;
  }
}
