.contact_section {
  padding: 0px 60px;

}

.heading {
  padding: 90px 0px 70px;
}

.contact_section .title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: var(--cinder);
}

.container {
  /* display: flex;
  align-items: center; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  max-width: 1280px;
  margin: auto;
}

.right {
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .contact_section {
    height: 50vh;
  }
}

@media only screen and (max-width: 968px) {
  .contact_section {
    height: auto;
  }

  .heading {
    padding: 50px 0px 40px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .right {
    margin: 0;
  }
}

@media only screen and (max-width: 425px) {
  .contact_section {
    padding: 0px 30px;
  }

  .heading {
    padding: 30px 0px;
  }
}
