.contact-form {
  margin-right: 104px;
  width: 100%;
  max-width: 600px;
}

.form-control input {
  width: 100%;
  box-shadow: none;
  border: none;
  outline: none;
  font-family: inherit;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7090cb;
  border-radius: 5px;
  border: 1px solid #7090cb;
  margin-bottom: 16px;
  background: transparent;
}

.form-control textarea {
  width: 100%;
  box-shadow: none;
  border: none;
  outline: none;
  font-family: inherit;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  line-height: 17px;
  color: #7090cb;
  border-radius: 5px;
  border: 1px solid #7090cb;
  margin-bottom: 16px;
}

.submit-btn {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 16px 24px;
  line-height: 17px;
  border-radius: 8px;
  font-family: inherit;
  border: none;
  cursor: pointer;
  position: relative;
  background: #7090cb;
  color: var(--white);
  width: -webkit-fill-available;
}

.submit-btn:hover {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 16px 24px;
  line-height: 17px;
  border-radius: 8px;
  font-family: inherit;
  border: none;
  cursor: pointer;
  position: relative;
  background: #4f5984;
  color: var(--white);
  width: -webkit-fill-available;
}

@media only screen and (max-width: 968px) {
  .contact-form {
    margin: 0;
    max-width: -webkit-fill-available;
  }
}
