.nav_container {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 70px;
  /* background-color: rgba(255, 255, 255, 0.85); */
  background-color: var(--white);
  opacity: 1;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* backdrop-filter: blur(5px); */
  border-bottom: 1px solid #7090cb;
  background-color: var(--midnight-express);
}

.desktopMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav_left {
  padding-left: 50px;
}

.nav {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-around;
  list-style: none;
  text-align: center;
  width: 60vw;
}

.nav_left > a {
  color: var(--cinder);
  font-weight: bold;
  font-size: 25px;
}

.nav_link {
  color: var(--cinder);
  cursor: pointer;
  text-decoration: none;
  margin-left: 26px;
}

.nav_link:hover {
  color: #7090cb;
  font-weight: bold;
  transition: 0.5s;
}

.nav_right {
  display: flex;
  align-items: center;
}

.theme_icon {
  margin-right: 30px;
  font-size: 22px;
  margin-top: 10px;
  cursor: pointer;
  color: var(--cinder);
}

.nav_resume_btn {
  color: var(--cinder);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 16px 24px;
  line-height: 17px;
  border-radius: 8px;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: 1px solid var(--light-2);
  background: var(--white);
}

.nav_resume_btn:hover{
  border: 1px solid #85a1c1;
  transition: 0.5s;
  font-weight: bold;
}

.mobileMenu {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav_container {
    height: 80px;
    padding: 0;
  }

  .mobileMenu {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    justify-content: space-between;
  }

  .desktopMenu {
    display: none;
  }

  .nav_right {
    display: flex;
    align-items: center;
    padding-right: 50px;
  }

  .hamburgerMenu {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--cinder);
  }

  .navMobile {
    /* display: flex; */
    display: none;
    flex-direction: column;
    top: 50px;
    position: absolute;
    width: -webkit-fill-available;
    background: var(--white);
    /* opacity: 0;
    transition: opacity 0.75s; */
    padding: 10px 0px;
    background: var(--midnight-express);
  }

  .active {
    display: flex;
    /* opacity: 1; */
  }

  .navMobile .nav_link {
    margin-left: 0 !important;
    padding: 10px;
  }
}
