.footer {
  padding: 88px 0;
  text-align: center;
  color: var(--cinder);
}

.socialIcon:not(:last-child) {
  margin-right: 32px;
}

.socialIcon {
  font-size: 25px;
  cursor: pointer;
}

.socialIcon:hover {
  opacity: 0.7;
  color:#7090cb;
}

@media only screen and (max-width: 1024px) {
  .footer {
    padding: 60px 0px;
  }
}
