/* Icône de chat fixe en bas à droite */
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0078ff;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Fenêtre de discussion */
  .chat-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* En-tête de la fenêtre de discussion */
  .chat-header {
    background-color: #0078ff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Corps de la fenêtre de discussion */
  .chat-body {
    padding: 15px;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  /* Pied de la fenêtre de discussion */
  .chat-footer {
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
  }
  
  .chat-footer input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .chat-footer button {
    background-color: #0078ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  