*{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  /* margin: 0; */
  font-size: 16px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--cinder);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--purple);
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--light);
}

:root {
  --purple: #7090cb;
  --light: #fbfbfb;
  /* --midnight-express: #282d3f; */
  /* --purple-light-1: #eae6fe;
  --purple-light-2: #f5f3fe;
  --cinder: #232e35;
  --cinder-light: #656d72;
  --light: #fbfbfb;
  --light-2: #f1f1f1;
  --light-3: #f5f5f5;
  --light-4: #d9d9d9;
  --white: #ffffff; */
}

html {
  scroll-behavior: smooth;
}

#light {
  --purple: #7e74f1;
  --purple-light-1: #eae6fe;
  --purple-light-2: #f5f3fe;
  --cinder: #232e35;
  --cinder-light: #656d72;
  --light: #fbfbfb;
  --light-2: #f1f1f1;
  --light-3: #f5f5f5;
  --light-4: #d9d9d9;
  --white: #ffffff;
  --midnight-express: #ffffff;
}

#dark {
  --black: #000;
  --purple: #7090cb;
  --purple-light-1: #eae6fe;
  --midnight-express: #000;
  --licorice: #33394d;
  --light: #2d3346;
  --light-2: #35394a;
  --cinder: #dddddd;
  --cinder-light: #ffffff;
  --light-4: #51576c;
  --purple-light-2: rgba(126, 116, 241, 0.04);
}

body {
  /* background: #ffffff; */
  color: var(--cinder-light) !important;
}
